@model Core.Client
@{
    ViewData["Title"] = "Delete";
}

<h1>Do you want to delete @Model.Name ?</h1>
<form method="post">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger">Yes</button>
    <a class="btn btn-primary" asp-controller="Client" asp-action="Index">No</a>
</form>

